
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
    margin: 5px;
}

.nav-link{
    color: black;
    display: inline;
}

.nav-item:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.carouselSection{
    margin: 5px;
}

.brewery-block {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
#about-us{
    text-align: center;
    margin: 20px 5px;
    background-color: lightgrey;
    padding: 20px;
}

.aboutUsP{
    text-align: center;
}

.image-cards{
    margin:0;
    margin-left: 20px;
    display:flex;
    justify-content: center;
}

.img-fluid{
    margin:3px;
}

.card{
    margin: 20px;
}

#exampleDropdownFormEmail1 {
    width: 10ch;
    display: inline;
    height: 2em;
}

/* .login {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
} */

.container{
    text-align: center;
    margin: 50px;
}

.bvform {
    width: 50%;
}


.reviewHeader{
    position:center;
    left: 20%;
    padding-top: 4em;

}


.usernameCont{
    width:50%;

}

.newBrewery{
    display:block;
    margin:2em;
    text-align: center;

}

ol {
    position:fixed;
    left:50%;
    width:400px;

}

.uName {
    position:fixed;
    left:5%;
    top:33%;
    width:25%;
}
.col{
    position:fixed;
    right:48%;
    width:25%;
}
  
    

#breweries-container{
    margin:50px;
}

/* #searchBarDetail{
    color: white;
} */


#city, #state {
    height:2em;
    width: 10ch;
}

#login, #location-search, .inputContainer{
    padding: 10px;
    background-color: lightgray
}

#signinBtn, .newBrewery{
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-color: rgb(118, 118, 118);
    background-color: #EFEFEF;
    padding: 6px 6px;
    border-radius: 3px; 
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 10px;
}

/* SEARCH PAGE CSS */
/* 
#location-search {
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
}

#location-search > * {
    display: block;
}

#location-search label {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;
}

#city, #state {
    margin-bottom: 0.5rem;
    width: 100%;
} */

.search-btn {
    background-color: orange;
    width: 8rem;
    margin: 0 auto 1rem;
    border-radius: 10px;
    transition: transform 1s;
}

.search-btn:hover {
    transform: scale(1.1, 1.1)
}

.breweries-list-header {
    text-align: center;
}

#chucknorris{
    text-align: center;
    background-image: url(../images/chucknorris.jpeg);
    color:white;
    margin:5px;
    padding: 20px;
}

h6{
    text-align: center;
    font-size: 10px;
    margin: 50px;
}