/* body{
    background-color: #202124;
} */

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
    margin: 5px;
}

.nav-link{
    color: black;
    display: inline;
}

.nav-item:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.carouselSection{
    margin: 5px;
}

.brewery-block {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
#about-us{
    text-align: center;
    margin: 20px 5px;
    background-color: lightgrey;
    padding: 20px;
}

.aboutUsP{
    text-align: center;
}

.image-cards{
    margin:0;
    margin-left: 20px;
    display:flex;
    justify-content: center;
}

.img-fluid{
    margin:3px;
}

.card{
    margin: 20px;
}

#exampleDropdownFormEmail1 {
    width: 10ch;
    display: inline;
    height: 2em;
}

/* .login {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
} */

.container{
    text-align: center;
    margin: 50px;
}

#breweries-container{
    margin:50px;
}

/* #searchBarDetail{
    color: white;
} */


#city, #state {
    height:2em;
    width: 10ch;
}

#login, #location-search, .inputContainer{
    padding: 10px;
    background-color: lightgray
}

#signinBtn{
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-color: rgb(118, 118, 118);
    background-color: #EFEFEF;
    padding: 6px 6px;
    border-radius: 3px; 
}

/* SEARCH PAGE CSS */
/* 
#location-search {
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
}

#location-search > * {
    display: block;
}

#location-search label {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;
}

#city, #state {
    margin-bottom: 0.5rem;
    width: 100%;
} */

.search-btn {
    background-color: orange;
    width: 8rem;
    margin: 0 auto 1rem;
    border-radius: 10px;
    transition: transform 1s;
}

.search-btn:hover {
    transform: scale(1.1, 1.1)
}

/* .breweries-list-header {
    text-align: center;
}

.breweries-login {
    text-align: left;
}

.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}

form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
} */