header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
    margin: 5px;
}

.nav-link{
    color: black;
    display: inline;
}

.nav-item:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.carouselSection{
    margin: 5px;
}

.brewery-block {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
